$neutral-90: rgb(43, 41, 41);
$neutral-80: #5e5e5e;
$neutral-70: #7a7a7a;
$neutral-60: #9b9a9a;
$neutral-50: #b9b5b5;
$neutral-40: #c7c5c5;
$neutral-30: #d3d1d1;
$neutral-20: #ebeff5;
$neutral-10: #f5f7fa;
$white: #ffffff;
$black: #000000;
